server:
  port: ${PORT:8084}

spring:
  application:
    name: orchestrator-service
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  config:
    import: optional:file:.env[.properties]

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.example.orchestrator: DEBUG
    org.springframework.amqp: DEBUG
