server:
  port: 8084

spring:
  application:
    name: orchestrator-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.example.orchestrator: DEBUG
    org.springframework.amqp: DEBUG
