server:
  port: ${PORT:8888}

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
    docs-expansion: none
    filter: true

management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: health,info,metrics,loggers
  endpoint:
    health:
      show-details: when_authorized

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Custom Properties
JWT_SECRET_KEY: ${JWT_SECRET_KEY}
REFRESH_TOKEN_TIME: ${REFRESH_TOKEN_TIME}
ACCESS_TOKEN_EXPIRATION: ${ACCESS_TOKEN_EXPIRATION}
