server:
  port: 8080

spring:
  application:
    name: api-gateway
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://AUTH-SERVICE
            predicates:
              - Path=/auth/**

          - id: resource-service
            uri: lb://RESOURCE-SERVICE
            predicates:
              - Path=/api/**
            filters:
              - AuthenticationFilter

          - id: user-service
            uri: lb://USER-SERVICE
            predicates:
              - Path=/user/**
            filters:
              - AuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG

# Custom Properties
# Note: Values should ideally be loaded from environment variables
JWT_SECRET_KEY: ${JWT_SECRET_KEY:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
REFRESH_TOKEN_TIME: ${REFRESH_TOKEN_TIME:1800000}
ACCESS_TOKEN_EXPIRATION: ${ACCESS_TOKEN_EXPIRATION:900000}
