server:
  port: ${PORT:8081}

spring:
  application:
    name: resource-service
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
