server:
  port: ${PORT:8889}

spring:
  application:
    name: config-server
  profiles:
    active: native
  config:
    import: optional:file:.env[.properties]

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
